@model Booking.Models.UsersBookingViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer for din booking</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Booking.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Booking.ToDate)
        </dd>
        <dd>
            <div class="form-group">
                @Html.Label("Vælg personer som skal inviteres", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBox("users", new MultiSelectList(Model.Users, "Id", "FirstName"), new { @class = "js-example-basic-multiple js-states form-control", multiple = "multiple" })
                </div>
            </div>
            <script type="text/javascript">
            $(".js-example-basic-multiple").select2();
            </script>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ændre", "EditBooking", new {
    id = Model.Booking.Id
}) |
    @Html.ActionLink("Tilbage til oversigt", "Bookings")
</p>