@model Booking.Models.ProfileBookingsViewModel

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet"/>
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<h2>Kalender over bookninger og invitationer</h2>

<div class="row">
    <script>
        $(document)
            .ready(function() {
                $('#calendar')
                    .fullCalendar({
                        titleFormat: 'D MMMM YYYY',
                        columnFormat: 'ddd D/M',
                        dayNamesShort: ['Søn', 'Man', 'Tir', 'Ons', 'Tor', 'Fre', 'Lør'],
                        monthNames: [
                            'Januar', 'Februar', 'Marts', 'April', 'Maj', 'Juni', 'Juli',
                            'August', 'September', 'Oktober', 'November', 'December'
                        ],
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: ''
                        },
                        defaultView: "agendaWeek",
                        axisFormat: 'HH:mm',
                        timeFormat: 'HH:mm',
                        slotLabelFormat: "HH:mm",
                        allDaySlot: false,
                        eventSources: [
                            {
                                url: '/Profile/GetBookings', // use the `url` property
                                color: '#00406f' // an option!
                            },
                            {
                                url: '/Profile/GetInvites', // use the `url` property
                                color: '#c00d0d' // an option!
                            }
                        ],
                        weekends: false
                    });
            });
    </script>

    <div id="calendar"></div>

</div>

<h3>Dine bookninger</h3>
<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.ToDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Bookings) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.ActionLink("Ændre", "EditBooking", new {id = item.Id}) |
                    @Html.ActionLink("Detaljer", "BookingDetails", new {id = item.Id}) |
                    @Html.ActionLink("Slet", "DeleteBooking", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
</div>

<h3>Dine invitationer</h3>
<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.ToDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Invites) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.ActionLink("Fjern invitation", "RemoveInvite", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>