@model Dll.Entities.Booking

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Booking</h4>
        <hr />
        @Html.ValidationSummary(true, "", new {
       @class = "text-danger"
   })
        @Html.HiddenFor(model => model.Id)

        <form>
            <div class="row">
                <div class='col-md-6'>
                    <div class="form-group">
                        <div class='input-group date searchTarget' id='datetimepicker1' data-date-format="dd-mm-yyyy hh:ii">
                            <input name="startDate" type='text' value="@Model.FromDate" id="startDate" class="form-control searchTarget datepicker" placeholder="Start dato" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <div class='input-group date searchTarget' id='datetimepicker2' data-date-format="dd-mm-yyyy hh:ii">
                            <input name="endDate" type='text' value="@Model.ToDate" id="endDate" class="form-control searchTarget datepicker" placeholder="Slut dato" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    startDate: new Date
                });

                $('#datetimepicker2')
                    .datetimepicker({
                        useCurrent: false, //Important! See issue #1075
                        startDate: new Date
                    });

                $("#datetimepicker1")
                    .on("dp.change",
                        function (e) {
                            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                        });

                $("#datetimepicker2")
                    .on("dp.change",
                        function (e) {
                            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                        });
            });

            </script>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gem" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Bookings")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}