@model Dll.Entities.User
@{
    ViewBag.Title = "Index";
}

<div class="col-md-6">
    <h2>Min profil</h2>
    <p>Fornavn: @Model.FirstName</p>
    <p>Efternavn: @Model.LastName</p>
    <p>Telefon: @Model.PhoneNumber</p>
    <p>E-mail: @Model.Email</p>
    
</div>
<div class="col-md-6">
    <h2>Genveje</h2>
    
    <li>@Html.ActionLink("Rediger mine oplysninger", "Edit", "Profile")</li>
  
</div>
<div class="row"></div>