@model Dll.Entities.User
@{
    ViewBag.Title = "Index";
}

<div class="col-md-6">
    <h2>Min profil</h2>
    <p>Fornavn: @Model.FirstName</p>
    <p>Efternavn: @Model.LastName</p>
    <p>Telefon: @Model.PhoneNumber</p>
    <p>E-mail: @Model.Email</p>
    
</div>
<div class="col-md-6">
    <h2>Genveje</h2>
    <li><a href="@Url.Action("Edit", "Profile")">Ændre informationer</a></li>
    <li><a href="@Url.Action("ChangePassword", "Profile")">Skift adgangskode</a></li>
    <li><a href="@Url.Action("ViewBookings", "Profile")">Mine bookinger</a></li>
</div>
<div class="row"></div>