@model Booking.Models.RoomEquipmentViewModels

@{
    ViewBag.Title = "Opret et nyt lokale";
}

<h2>Opret et nyt lokale</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Udfyld nedenstående felter</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Room.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Room.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Room.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Room.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Room.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Room.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Room.Department, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Room.Department.Id, new SelectList(Model.Departments, "Id", "Name"), "Vælg afdeling", new { @class ="form-control"})
                @Html.ValidationMessageFor(model => model.Room.Department, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Room.Capacity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Room.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Room.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Room.Equipment, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBox("equipment", new MultiSelectList(Model.Equipments, "Id", "Name"), new { @class = "js-example-basic-multiple js-states form-control", multiple="multiple" } )
            </div>
        </div>
        <script type="text/javascript">
            $(".js-example-basic-multiple").select2();
        </script>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opret" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage til oversigten", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
