@using System.Web.UI.WebControls
@model Booking.Models.RoomBookingViewModel

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/fullcalendar.min.css" rel="stylesheet"/>
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>
<h2>Details</h2>

<div class="row">
    <div class="col-md-6">
        <h4>Room</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Room.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Room.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Room.Capacity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Room.Capacity)
            </dd>

        </dl>
    </div>
    <div class="col-md-6">
        <script>
            $(document)
                .ready(function() {

                    $('#calendar')
                        .fullCalendar({
                            header: {
                                left: 'prev,next today',
                                center: 'title',
                                right: ''
                            },
                            defaultView: "agendaWeek",
                            navLinks: false, // can click day/week names to navigate views
                            editable: false,
                            eventLimit: true, // allow "more" link when too many events
                            events: '/Rooms/GetBookings/@Model.Room.Id'
                        });

                });
        </script>

        <div id="calendar"></div>

    </div>


</div>
<p>
    @Html.ActionLink("Rediger", "Edit", new {id = Model.Room.Id}) |
    @Html.ActionLink("Tilbage til oversigt", "Index")
</p>