@model IEnumerable<Dll.Entities.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Oversigt over afdelinger</h2>

<p>
    @Html.ActionLink("Opret ny afdeling", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Ændre", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
