@model Dll.Entities.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Detaljer om booking</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ændre", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tilbage til oversigt", "Index")
</p>
