@model Booking.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
        
    <form>
        <div class="row">
            <div class='col-md-6'>
                <div class="form-group">
                    <div class='input-group date searchTarget' id='datetimepicker1' data-date-format="dd mm yyyy hh:ii">
                        <input name="startDate" type='text' id="startDate" class="form-control searchTarget datepicker" placeholder="Start dato" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <div class='input-group date searchTarget' id='datetimepicker2' data-date-format="dd mm yyyy hh:ii">
                        <input name="endDate" type='text' id="endDate" class="form-control searchTarget datepicker" placeholder="Slut dato" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();

                $('#datetimepicker2').datetimepicker({
                    useCurrent: false //Important! See issue #1075
                });

                $("#datetimepicker1").on("dp.change", function (e) {
                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                });

                $("#datetimepicker2").on("dp.change", function (e) {
                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                });
            });

        </script>


        <div class="row" id="searchInputRow">
            <div class="col-md-3">
                <div class="input-group">
                    @Html.DropDownList("department", new SelectList(Model.Departments, "Id", "Name"), "Alle afdelinger", new { @class = "form-control searchTarget textinput", id = "department" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <input name="capacity" type="number" class="form-control searchTarget textinput" placeholder="Kapacitet" id="capacity">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="input-group">
                    @Html.ListBox("selectedEquipment", new MultiSelectList(Model.Equipment, "Id", "Name"), new { @class = "searchTarget multiDrop js-states form-control textinput", id = "equipment", multiple = "multiple" })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>


        </div>



        <script type="text/javascript">
            $(".multiDrop").select2({
                placeholder: { text: "Udstyr" }
            });
        </script>

        @*<div class="row">
                <div class="col-md-12">
                    <input class="btn btn-ok" id="btnSearch" type="submit" value="Søg.." />
                </div>
            </div>*@

        <hr />

        <div class="container-content" id="test1">
            @foreach (var item in Model.Rooms) {
                <div class="row" id="roomRow">
                    <div class="col-md-2">
                        <p><b>Lokale:</b> @item.Name</p>
                        <p><b>Afdeling:</b> @item.Department.Name</p>
                    </div>
                    <div class="col-md-4">
                        <p><b>Antal personer:</b> @item.Capacity</p>
                        <p><b>Beskrivelse:</b> @item.Description</p>
                    </div>
                    <div class="col-md-4">
                        <p><b>Udstyr:</b></p>
                        @foreach (var equipment in item.Equipment) {
                            <p>@equipment.Name</p>
                        }
                    </div>
                    <div class="col-md-2">
                        <button formaction="@Url.Action("BookRoom", "SelectedBooking", new { Id = item.Id})" type="submit" class="glyphicon glyphicon-calendar" id="btnBook"></button>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

<div id="tokenDiv" data-value="@HttpContext.Current.Session["token"]"></div>

@section scripts
{
    <script src="~/Scripts/liveupdate.js"></script>    
}
