@using Microsoft.Ajax.Utilities
@model Booking.Models.BookRoomViewModel
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/fullcalendar.min.css" rel="stylesheet"/>
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

@using (Html.BeginForm("BookRoom", "SelectedBooking", FormMethod.Post)) {
    if (!Model.ErrorMessage.IsNullOrWhiteSpace()) {
        <p style="color: red">@Model.ErrorMessage</p>
    }

    <div class="col-md-6">
        <h2>Valgte lokale</h2>
        <p>Navn: @Model.Room.Name</p>
        <p>Afdeling: @Model.Room.Department.Name</p>
        <p>Beskrivelse: @Model.Room.Description</p>
        <p>Antal personer: @Model.Room.Capacity</p>

        <h2>Udstyr</h2>
        @foreach (var item in Model.Room.Equipment) {
            <p>@item.Name</p>
        }

        <h2>Dato</h2>
        <div class="row">
            <div class='col-md-6'>
                <div class="form-group">
                    <div class='input-group date searchTarget' id='datetimepicker1' data-date-format="dd mm yyyy hh:ii">
                        <input name="startDate" value="@Model.StartDate" type='text' id="startDate" class="form-control searchTarget datepicker" placeholder="Start dato"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <div class='input-group date searchTarget' id='datetimepicker2' data-date-format="dd mm yyyy hh:ii">
                        <input name="endDate" value="@Model.EndDate" type='text' id="endDate" class="form-control searchTarget datepicker" placeholder="Slut dato"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                $('#datetimepicker1').datetimepicker();

                $('#datetimepicker2')
                    .datetimepicker({
                        useCurrent: false //Important! See issue #1075
                    });

                $("#datetimepicker1")
                    .on("dp.change",
                        function(e) {
                            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                        });

                $("#datetimepicker2")
                    .on("dp.change",
                        function(e) {
                            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                        });
            });

        </script>
        <input class="btn btn-ok" id="btnSearch" type="submit" value="Book.." />
    </div>
    <div class="col-md-6">

        <script>
            $(document)
                .ready(function() {
                    $('#calendar')
                        .fullCalendar({
                        titleFormat: 'D MMMM YYYY',
                        columnFormat: 'ddd D/M',
                        dayNamesShort: ['Søn', 'Man', 'Tir', 'Ons', 'Tor', 'Fre', 'Lør'],
                        monthNames: [
                            'Januar', 'Februar', 'Marts', 'April', 'Maj', 'Juni', 'Juli',
                            'August', 'September', 'Oktober', 'November', 'December'
                        ],
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: ''
                        },
                        defaultView: "agendaWeek",
                        events: '/Rooms/GetBookings/@Model.Room.Id',
                        axisFormat: 'HH:mm',
                        timeFormat: 'HH:mm',
                        slotLabelFormat: "HH:mm",
                        allDaySlot: false,
                        weekends: false
                    });
                });
        </script>

        <div id="calendar"></div>

    </div>
    <input type="hidden" name="roomId" value="@Model.Room.Id">
    <div class="row">
        
    </div>
}